<main>
  <div class="container">
    <div class="row">
    <div class="col-4 text-center bg-light">
      <h3>商品編集</h3>
      </div>
     <div class="col-8"></div>
    </div>

    <%= form_with model:@item, url:admin_item_path(@item.id), local:true do |f| %>
         <div class="row">
          <div class="col-4 text-center">
           <label for="item_image">商品画像</label>
          </div>
          <div class="col-6 ">
           <%= f.file_field :image_id %>
          </div>
         </div>

         <div class="row">
          <div class="col-4 text-center">
           <label for="item_name">商品名</label>
           </div>
          <div class="col-6"><%= f.text_field :name %></div>
         </div>

         <div class="row">
           <div class="col-4 text-center">
            <label for="item_introduction">商品説明</label>
           </div>
           <div class="col">
            <%= f.text_field :introduction %>
           </div>
           </div>

         <div class="row">
          <div class="col-4 text-center">
           <label for="genre">ジャンル</label>
          </div>
          <div class="col-6">
          <%= f.select :genre_id, @array, { selected: 1 } %>
          </div>
         </div>

         <div class="row">
          <div class="col-4 text-center">
           <label for="item_price">税抜価格</label>
          </div>
          <div class="col-6">
           <%= f.text_field :price %>円
          </div>
         </div>

         <div class="row">
            <div class="col text-center">
            <%= f.submit '変更を保存', class:"btn btn-success" %>
            </div>
         </div>

    <% end %>
  </div>
</main>