<!DOCTYPE html>
<html>
  <head>
    <title>NaganocakeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <script src="https://kit.fontawesome.com/648215ea55.js" crossorigin="anonymous"></script>
  </head>

  <body>
   <header >
      <nav class="navbar navbar-expand-lg navbar-white bg-white">
        <div class="container">
          <a class="navbar-brand" href="/"><span>LOGO</span></a>

        <ul class="nav navbar-nav ml-auto">
         <% if admin_signed_in? %>
           <li>
            <%= link_to "商品一覧", admin_item_path ,class: "btn btn-outline-secondary" %>
          </li>
           <li>
            <%= link_to "会員一覧", admin_customer_path ,class: "btn btn-outline-secondary" %>
          </li>
           <li>
            <%= link_to"注文履歴一覧", admin_root_path ,class: "btn btn-outline-secondary" %>
          </li>
           <li>
            <%= link_to"ジャンル一覧", admin_genres_path ,class: "btn btn-outline-secondary" %>
          </li>
           <li>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete ,class: "btn btn-outline-secondary" %>
          </li>
         <% else %>
           <li>
            <%= link_to"About", homes_about_path ,class: "btn btn-outline-secondary"  %>
          </li>
           <li>
            <%= link_to"商品一覧", items_index_path ,class: "btn btn-outline-secondary"  %>
          </li>
           <li>
            <%= link_to "新規登録", new_customer_registration_path ,class: "btn btn-outline-secondary" %>
          </li>
           <li>
            <%= link_to "ログイン", new_customer_session_path ,class: "btn btn-outline-secondary" %>
          </li>
         <% end %>


        </ul>
      </div>
      </div>

      </nav>
    </header>
    <%= yield %>
  </body>
</html>
