<!DOCTYPE html>
<html>
  <head>
    <title>NaganocakeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   <script src="https://kit.fontawesome.com/648215ea55.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <div class="container">
         
       </div>
       
       
     </nav>
     
    </header>
    <%= yield %>
  </body>
</html>
